.wrapper{
  display: flex;
  flex-wrap: wrap;
  padding:0.6rem;


}

.main {
  padding: 0.3rem;
  justify-content: center;
  text-align: center;
  display: flex;

}
.wrapper > input{
  flex:2 1 150px;
  padding:0.3rem;
}



.card {

  padding: 34px;
  text-align: center;
  color: inherit;
  border: 5px solid powderblue;
  border-radius: 22px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.card:hover,
.card:focus,
.card:active {
  color: red;
  border-color: red;
}



@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
